{% extends 'base/index.html' %}

{% block header %}
<title>Alta Productos</title>
{% endblock header %}


{% block contenido %}


<h3>Alta Productos</h3>

<form action={% url 'inicio:altaprod' %} method="POST">
    {% csrf_token %}
    <table>
        {{form.media}}
        {{form}}
        
    </table>
    <button>Crear</button>
</form>


{% comment %} <p>{{Productos.nombre}} {{Productos.descripcion}}</p> {% endcomment %}
{% endblock contenido %}

{% block contenido1 %}{% endblock contenido1 %}

{% comment %} {% block contenido %}
<form action={% url 'inicio:AltaProductoFormulario' %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    {% comment %} <input type="submit" value="Crear"> {% endcomment %}
    {% comment %} <button>Crear</button>
</form> {% endcomment %}

